<h1>Secrets</h1>
<% @secrets.each do |s| %>
	<p><%=s.content%></p>
	<p><%=s.likes.length%> likes</p>
	<% if current_user.secrets_liked.include?(s) %>
		<form method="post" action="/likes">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='hidden' name="_method" value="delete">
			<input type="hidden" value="<%=s.id%>" name="secret">
			<button type="submit">Unlike</button>
		</form>
	<% else %>
		<form method="post" action="/likes">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" value="<%=s.id%>" name="secret">
			<button type="submit">Like</button>
		</form>
	<% end %>
	<% if current_user == s.user %>
		<form method="post" action="/secrets/<%=s.id%>">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" value="delete" name="_method">
			<button type="submit">Delete</button>
		</form>
	<% end %>
<% end %>